html,
body {
  margin: 0;
  overflow-x: clip;
  overflow-y: hidden;
}

* {
  border: 0 solid #e5e7eb;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Import font quicksand */
@font-face {
  font-family: 'Quicksand';
  src: url('../resources/fonts/quicksand.woff2') format('woff2'),
       url('../resources/fonts/quicksand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Import font bucthu */
@font-face {
  font-family: 'BucThu';
  src: url('../resources/fonts/bucthu.woff2') format('woff2'),
       url('../resources/fonts/bucthu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoaTay1';
  src: url('../resources/fonts/hoatay1.woff2') format('woff2'),
       url('../resources/fonts/hoatay1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

.tri1 {
  background-color: rgb(240, 242, 245);
  height: 100vh;
  width: 100vw;
}

.tri2 {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  margin: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tri3 {
  position: relative;
  height: 468px;
  background: #631717;
  padding: 16px;
  margin-bottom: 80px;
}

.tri4 {
  height: auto;
  width: 100%;
  min-width: 20px;
  color: rgb(240, 240, 240);
  font-size: 22px;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
  font-weight: 500;
  font-family: Quicksand;
  text-align: center;
  line-height: normal;
  letter-spacing: 0px;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  pointer-events: none;
  overflow: hidden;
  word-break: break-word;
}

.tri5 {
  width: 65vw;
  max-width: 306px;
  mask-image: url('../resources/images/mask1.png');
  mask-size: 100% 100%;
  position: absolute;
  left: 32px;
  bottom: -64px;
}

.tri5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.tri6 {
  width: 70vw;
  max-width: 300px;
  margin: 0 auto 48px;
}

.tri9 img {
  width: 24px;
  height: 24px;
}

.tri15,
.tri16 {
  font-family: BucThu;
  font-size: 28px;
  color: #631717;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
}

.tri18 {
  /* border-top: 1px solid;
  font-family: HoaTay1;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px; */
}

.tri19 {
  border: 1px solid #631717;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
  max-width: 108px;
}